


<section class="main">
<div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Tärkeää tietoa</h1>
    <p class="col-md-8 fs-4">
        
     1. Emme tallenna tietojasi mihinkään tietokantoihin.<br><br>
     2. <a href="https://www.file.io/tos/">File.io</a>:lla on omat ehtonsa, lue ne erikseen. <br><br>
     3. Palvelu on toistaiseksi ilmainen. <br><br>
     4. Tämä palvelu on tehty opiskelijatyönä ja toimii prototyyppinä. <br><br>
     5. Emme vastaa mahdollisista virheistä ohjelmakoodissa tai muissa tiedoissa (laskukaavat yms.). <br><br>
     6. Käytät tätä palvelua omalla vastuullasi ja käyttämällä tätä palvelua hyväksyt nämä ehdot. <br><br>
        
    </p> 
        
    
  </div>
</section>