.main {
    margin-left: 3%;
    margin-right: 3%;
}

form { 
    display: block;
    margin-top: 0em;
  }
  
  table {
    width: 100%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
  }
  
  .radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .radio-button {
    margin: 5px;
  }
  
  td, th{
    border: 1px solid #dddddd;
    width: 50%;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  
  
  
  input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .container {
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  input[type=number], select {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=date], select {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=time], select {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  
  input[type=submit] {
    width: 25%;
    background-color: rgb(0, 128, 255);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: rgb(0, 128, 192);
  }
  
  input[type=reset] {
    width: 25%;
    background-color: rgb(243, 12, 81);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=reset]:hover {
    background-color: rgb(185, 6, 37);
  }
  
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }