
/*MEDIA SCREEN*/
@media (min-width: 481px)  {
  
  /* CSS */
  .header-fields {
    display: flex;
}
  
}

.main-header {
    margin-left: 3%;
    margin-right: 3%;
}

h1 {font-family: Arial, Helvetica, sans-serif;}


th,td {
    text-align: left;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}

.line {
  border-top: 1px rgb(214, 213, 213) solid;
}

.alvitaulu
 {
    margin-left: 3%;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
}

.fields-head{
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
}

form { 
    display: block;
    margin-top: 0em;
    font-family: Arial, Helvetica, sans-serif;
  }

  .alasveto-vero {
    width: 80px;
  }
  
  
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0px 4px 6px #3D3C9C;
  }

  .kulun_syy { 
    width: 360px;
  }
  .euro {
    width: 120px;
  }
  
  .container {
    margin-left: 3%;
    margin-right: 3%;
    background-color: transparent;
    padding: 12px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0px 4px 6px #3D3C9C;

  }


  
  input[type=date], select {
    /*width: 25%;*/
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0px 4px 6px #3D3C9C;

  }
  
  input[type=time], select {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  
  button[type=submit] {
    width: 25%;
    background-color: #3D3C9C;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    margin-right: 3px;
    border: 1px white solid;
    box-shadow: 0px 4px 6px #3D3C9C;
  }
  
  button[type=submit]:hover {
    background-color: #343384;
  }

  .addrow {
    background-color: rgb(10, 203, 58);
    color: white;
    border: none;
    height: 45px;
    width: 45px;
    border-radius: 5px;
    margin-right: 3px;
    margin-top: 5px;
    box-shadow: 0px 4px 6px #3D3C9C;
  }
  .addrow:hover {
    background-color: rgb(4, 233, 61);
    color: white;
    border: none;
    height: 47px;
    border-radius: 5px;
  }



  .delete {
    background-color: rgb(243, 12, 81);
    color: white;
    border: none;
    height: 45px;
    width: 45px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px #3D3C9C;
    margin-top: 3px;
  }
  .delete:hover {
    color: rgb(243, 12, 81);
    background-color: white;
    border: none;
    height: 47px;
    border-radius: 5px;
  }


  
  button[type=reset] {
    width: 25%;
    background-color: rgb(243, 12, 81);
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type=reset]:hover {
    background-color: rgb(185, 6, 37);
  }

  .customer-copy {
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    background-color: rgb(119, 251, 207);
    border-radius: 10px;
  }
  
.upload-nappi {
  background-color: black;
}

   
  @media print {
                   
     /* display: none; */

     /*header and footer hide*/
     @page {
        margin-left: 0.5in;
        margin-right: 0.5in;
        margin-top: 0;
        margin-bottom: 0;
        size: A4 landscape;
      }
      

      button, footer      {display: none;}
      input               {border: none;}
      .navbar             {display: none;}

      input[type=text],input[type=number],input[type=date],textarea,select
      {width: auto; border: none; box-shadow: none; border-bottom: 1px dashed rgb(169, 169, 169);border-radius: 0px;}

      .alasveto-vero    {width: 100px;border: none; box-shadow: none;border-bottom: 1px dashed rgb(169, 169, 169);border-radius: 0px;}
      .container        {margin: 0%; padding: 0%;font-size: 12px;}
     
     
  }
